.form {
	width: 100%;
	display: flex;
	background-color: var(--VeryDarkDesaturatedBlue);
	border-radius: 0.7rem;
	height: 6rem;
	display: flex;
	align-items: center;
	padding: 2.4rem;
	margin-bottom: 5rem;
	&__submit {
		width: 2.4rem;
		height: 2.4rem;
		margin-right: 2.4rem;
		outline: none;
		border: none;
		border-radius: 20rem;
		background: none;
		border: 1px solid var(--VeryDarkGrayishBlue);
		cursor: pointer;
		color: transparent;
		font-size: 3rem;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.4s ease;
		&:hover {
			background-color: var(--BrightBlue);
			color: var(--VeryDarkDesaturatedBlue);
		}
	}
	&__input[type='text'] {
		background-color: transparent;
		outline: none;
		border: none;
		color: var(--LightGrayishBlueHover);
		font-size: 1.8rem;
		overflow: hidden;
		height: 50px;
		flex: 1;
	}
}
