.todo {
	display: flex;
	border-radius: 0.7rem 0.7rem 0 0;
	height: 6rem;
	display: flex;
	align-items: center;
	padding: 0 2.4rem;
	color: var(--DarkGrayishBlue);
	font-weight: 400;
	border-bottom: 1px solid var(--VeryDarkGrayishBlue);
	overflow: hidden;
	position: relative;
	button {
		outline: none;
		border: none;
		cursor: pointer;
		background-color: transparent;
	}
	.check {
		width: 2.4rem;
		height: 2.4rem;
		margin-right: 2.4rem;
		border-radius: 20rem;
		border: 1px solid var(--VeryDarkGrayishBlue);
		flex-basis: 3rem;
		flex-shrink: 0;
		&:hover {
			border: 1px solid transparent;
			background-image: radial-gradient(
					circle at top left,
					var(--VeryDarkDesaturatedBlue),
					var(--VeryDarkDesaturatedBlue)
				),
				linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
			background-origin: border-box;
			background-clip: content-box, border-box;
		}
		svg {
			opacity: 0;
			visibility: hidden;
			fill: var(--white);
		}
	}
	p {
		white-space: nowrap;
		overflow: hidden;
		letter-spacing: 0.1rem;
		flex: 1;
		margin-right: 2.4rem;
		color: var(--white);
	}
	.buttons {
		display: flex;
		align-items: center;
		button {
			svg {
				fill: var(--DarkGrayishBlue);
			}
			&:hover svg {
				fill: var(--white);
			}
			&.active svg {
				fill: var(--white);
			}
			&:last-of-type {
				margin-left: 2rem;
			}
		}
	}
}

.empty {
	color: var(--DarkGrayishBlue);
	text-align: center;
	padding: 4rem 1rem;
}

.todo.completed {
	.check {
		background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
		border: none;
		display: flex;
		align-items: center;
		justify-content: center;
		svg {
			opacity: 1;
			visibility: visible;
		}
	}
	p {
		color: var(--VeryDarkGrayishBlue);
		font-weight: 700;
		text-decoration: line-through;
	}
}
